
.filter-buttons {
  margin-bottom: 2rem;
}

.filter-buttons button {
  background: #eee;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.filter-buttons button:hover,
.filter-buttons button.active {
  background: #333;
  color: white;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.gallery-item {
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


.lb-container,
.lb-dataContainer {
  animation: 1 !important;
  transition: 1 !important;
  opacity: 1 !important;
}