.filter-buttons {
    margin-bottom: 2rem;
}

.filter-buttons button {
    background: #eee;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-buttons button:hover,
.filter-buttons button.active {
    background: #333;
    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.gallery-item {
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    opacity: 95%;
    transition-duration: 400ms;
    transform: scale(0.99);
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



/* card-columns  */

@media screen and (min-width: 925px) {
    .card-columns {
        column-count: 2;
    }
}

.custom-img {
    width: 100%;
    height: auto;
}
