/* custom fonts */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', serif; */

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d7cdbc;
    color: #341830;
}

.drop-shadow {
    text-shadow: 0 2px 2px rgba(44, 0, 0, 0.151);
}



.my-h1 {
    font-family: 'Yeseva One', serif; 
    color: #341830;
    text-shadow: 0 0 1px #341830;
}

.my-h2 {
    font-family: 'Yeseva One', serif; 
    color: #341830;
    text-shadow: 0 0 1px #341830;
    font-size: 4rem;
    transform: rotate(8deg);
}



/* header */

header {
    height: 75vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.parallax {
    overflow-x: hidden;
    position: absolute;
    perspective: 1px;
}

.parallax-layer {
    position: absolute;
}


.layer1 {
    /* transform: translateZ(-23px);
    transform: translateY(150px); */
    z-index: 1;
}

.layer2 {
    /* transform: translateZ(-0.2px);
    scale: 0.75; */
    /* translate: 300px 600px; */
}

.layer3 {
    /* transform: translateZ(1px); */
    translate: 0 ;
}


  
  /* .parallax-layer.layer1 {
    width: 100%;
    height: 100rem;
  
 
  } */
  


.opacity-animated {
    animation: test 2s linear infinite;
}



.words {
    position: relative;
    animation: move-words 200ms alternate infinite;
    margin: 0;
  }

  @keyframes move-words {
    0% {
         opacity: 1;
         transform: rotate(0);
         scale: 1;
    }

    100% {
        opacity: 1;
        transform: rotate(7deg);
        scale: 4;
    }
  }





/* transitions */

/* .transition-fade {
    opacity: 1;
    transition: 250ms;
}

html.is-animating .transition-fade {
    opacity: 1;
}

html.is-leaving .transition-fade {
    opacity: 0;
} */


/* .transition-swipe {
    transition: 500ms;
    transform: translateX(0);
    transform-origin: left;
}

html.is-animating .transition-fade {
    transform: translateX(100%);
}

html.is-leaving .transition-fade {
    transform: translateX(0);
} */






/* navbar */

.navbar {
    background-color: #341830;
}

.my-navbar-brand {
    color: #edcfac;
    font-family: 'Yeseva One', serif; 
}

.my-navbar-brand:hover {
    color: #e9d6c3;
    transition-duration: 250ms;
}



.my-navbar-brand:visited {
    color: #edcfac !important;
 
}
.my-navbar-brand:active {
    color: #e9d6c3 !important;
}



.navbar-toggler  {
    color: #c4ae94;
}

.navbar-toggler-icon {
    color: #c4ae94;
}





/* dropdown menu */


.my-dropdown-menu {
    background-color: #dbccb3;
    color: #341830 !important;
    transition: 2s;
}

.dropdown-item:hover {
    background-color: #e2d6c8 !important;
    color: #341830;
    transition-duration: 250ms;
}

.dropdown-item:visited, .dropdown-item:active {
    background-color: #e2d6c8 !important;
    color: #341830;
    transition-duration: 250ms;
}

@media (max-width: 992px) {

    .my-dropdown-menu {
        background-color: #341830;
        color: #c4ae94;
        border: 0;
    }

    .dropdown-item {
        color: #c4ae94 !important;
        border: 0;
        margin-top: -3px;
    }

}








/* navigation chevrons */

.fa-chevron-right {
    color: #aa736e;
    text-shadow: 0 0 1px #aa736e;
    margin-top: 15.625rem;
}

.fa-chevron-left {
    color: #aa736e;
    text-shadow: 0 0 1px #aa736e;
    margin-top: 15.625rem;
}


.fa-chevron-right:hover {
    color: #c99792;
    transition-duration: 250ms;
}

.fa-chevron-left:hover {
    color: #c99792;
    transition-duration: 250ms;
}



@media (max-width: 438px) {

    .fa-chevron-right {
        margin-top: 10.625rem;
    }
    
    .fa-chevron-left {
        margin-top: 10.625rem;
    }

}










/* button */

.btn-primary {
    background-color: #702b37;
    color: #d7cdbc;
    font-family: 'Yeseva One', serif; 
    border: 0
}


.btn-primary:hover {
    background-color: #7d313e !important;
    color: #f2ece0;
}

.btn-primary:active {
    background-color: #7d313e !important;
    color: #f2ece0 !important;
}





/* pagination */

.my-pagination {
    background-color: #56401a1f;
    color: #341830;
    font-family: 'Open Sans', sans-serif;
    border: 0;
}

.my-pagination:hover, .my-pagination:visited, .my-pagination:active, .my-pagination:focus  {
    background-color: #332a194e !important;
    color: #341830;
    font-family: 'Open Sans', sans-serif;
}





/* my projects */


.my-projects {
    transition: all 250ms;
}

.my-projects:hover {
    opacity: 95%;
    transition-duration: 400ms;
    transform: scale(0.99);
}


.custom-img {
    width: 100%;
    height: auto;
}
