/* custom fonts */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', serif; */

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d7cdbc;
    color: #341830;
}




.drop-shadow {
    text-shadow: 0 2px 2px rgba(44, 0, 0, 0.151);
}



.my-h1 {
    font-family: 'Yeseva One', serif; 
    color: #341830;
    text-shadow: 0 0 1px #341830;
}

.my-h2 {
    font-family: 'Yeseva One', serif; 
    color: #341830;
    text-shadow: 0 0 1px #341830;

}



/* header */

header {
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}





.opacity-animated {
    animation: test 2s linear infinite;
}



.words {
    position: relative;
    animation: move-words 200ms alternate infinite;
    margin: 0;
  }

  @keyframes move-words {
    0% {
         opacity: 1;
         transform: rotate(0);
         scale: 1;
    }

    100% {
        opacity: 1;
        transform: rotate(7deg);
        scale: 4;
    }
  }











/* navbar */

.navbar {
    background-color: #341830;
}

.my-navbar-brand {
    color: #edcfac;
    font-family: 'Yeseva One', serif; 
}

.my-navbar-brand:hover {
    color: #e9d6c3;
    transition-duration: 250ms;
}



.my-navbar-brand:visited {
    color: #edcfac !important;
 
}
.my-navbar-brand:active {
    color: #e9d6c3 !important;
}



.navbar-toggler  {
    color: #c4ae94;
}

.navbar-toggler-icon {
    color: #c4ae94;
}





/* dropdown menu */


.my-dropdown-menu {
    background-color: #dbccb3;
    color: #341830 !important;
    transition: 2s;
}

.dropdown-item:hover {
    background-color: #e2d6c8 !important;
    color: #341830;
    transition-duration: 250ms;
}

.dropdown-item:visited, .dropdown-item:active {
    background-color: #e2d6c8 !important;
    color: #341830;
    transition-duration: 250ms;
}

@media (max-width: 992px) {

    .my-dropdown-menu {
        background-color: #341830;
        color: #c4ae94;
        border: 0;
    }

    .dropdown-item {
        color: #c4ae94 !important;
        border: 0;
        margin-top: -3px;
    }

}








/* navigation chevrons */

.fa-chevron-right {
    color: #aa736e;
    text-shadow: 0 0 1px #aa736e;
    margin-top: 15.625rem;
}

.fa-chevron-left {
    color: #aa736e;
    text-shadow: 0 0 1px #aa736e;
    margin-top: 15.625rem;
}


.fa-chevron-right:hover {
    color: #c99792;
    transition-duration: 250ms;
}

.fa-chevron-left:hover {
    color: #c99792;
    transition-duration: 250ms;
}



@media (max-width: 438px) {

    .fa-chevron-right {
        margin-top: 10.625rem;
    }
    
    .fa-chevron-left {
        margin-top: 10.625rem;
    }

}










/* button */

.btn-primary {
    background-color: #702b37;
    color: #d7cdbc;
    font-family: 'Yeseva One', serif; 
    border: 0
}


.btn-primary:hover {
    background-color: #7d313e !important;
    color: #f2ece0;
}

.btn-primary:active {
    background-color: #7d313e !important;
    color: #f2ece0 !important;
}





/* pagination */

.my-pagination {
    background-color: #56401a1f;
    color: #341830;
    font-family: 'Open Sans', sans-serif;
    border: 0;
}

.my-pagination:hover, .my-pagination:visited, .my-pagination:active, .my-pagination:focus  {
    background-color: #332a194e !important;
    color: #341830;
    font-family: 'Open Sans', sans-serif;
}





/* my projects */


.my-projects {
    transition: all 250ms;
}

.my-projects:hover {
    opacity: 95%;
    transition-duration: 400ms;
    transform: scale(0.99);
}


.custom-img {
    width: 100%;
    height: auto;
}





/* index elements */




.my-svg-item-1 {
    position: fixed;

    top: -4%;
    transform: scaleX(1.2);
}

.my-svg-item-2 {
    position: fixed;

    bottom: -5%;
}

.my-svg-item-3 {
    position: fixed;


    left: 20%;
    top: 22%;

}


.my-svg-item-4 {
    position: fixed;


    right: 20%;
    bottom: 20%;

}

.my-svg-item-4 a {
    text-decoration: none; color: #d7cdbc;
}


.my-svg-item-5 {
    position: fixed;

    scale: 1.3;
    left: -10%;
    bottom: -3%;
    width: 100%;

}

.my-svg-item-6 {
    position: fixed;

    left: -4%;
    bottom: -10%;

}


.my-svg-item-7 {
    position: fixed;


    right: 30%;
    bottom: 30%;
    width: 500px;

}

.my-svg-item-8 {
    position: fixed;

  left: -5%;
    bottom: -10%;

}





.my-chevron-animation {
    animation: chevron 1s ease-in-out infinite alternate;
}

@keyframes chevron {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}


.my-text-appearing {
    animation: text 0.5s ease-in;
 
}

@keyframes text {
    from {
        opacity: 0;
        transform: scale(1.05);
    }

    to {
        opacity: 1;
        transform: scale(1);

    }
}


footer {
    overflow: hidden;
    transform: translateY(100px);
}
