body {
    font-family: 'Open Sans', sans-serif;
    background-color: beige;
    color:black;
    box-sizing: border-box;
}


/* .drop-shadow for custom classes */

.dropdown-item:hover, .dropdown-item:active {
    color: white;
}

@media (max-width: 992px){
    .test {
        color:brown;
    }
}


