body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7FEF7;
    color: #343434;
    box-sizing: border-box;
}

h1 {
    font-family: "Shrikhand", serif;
    color: #FEE66D;
    font-size: 8vw;
}

h2 {
    font-family: "Shrikhand", serif;
    color: #2F3061;
    font-size: 4.98rem;
}

p {
    font-size: 1.167rem;
}

.left-part {
    background-color: #2F3061;
}


.btn-primary {
    background-color: #6CA6C1; 
    border-color: #6CA6C1;   
    font-style: italic;
    font-size: 1.89rem;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: #5e9cb9 !important; 
    border-color: #5e9cb9 !important;    
}


