/* custom fonts */
/* font-family: 'Open Sans', sans-serif;
font-family: 'Yeseva One', serif; */

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #d7cdbc;
    color: #341830;
    box-sizing: border-box;
    /* background-image: url(images/palette-background.png);
    background-size: 5%; */
   

}









.drop-shadow {
    text-shadow: 0 2px 2px rgba(44, 0, 0, 0.151);
}



.my-h1 {
    font-family: 'Yeseva One', serif; 
    color: #341830;
    text-shadow: 0 0 1px #341830;
}

.my-h2 {
    font-family: 'Yeseva One', serif; 
    color: #341830;
    text-shadow: 0 0 1px #341830;

}

.my-h3 {
    font-family: 'Yeseva One', serif; 
    color: #341830;
    text-shadow: 0 0 1px #341830;

}







/* header */

header {
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}





.opacity-animated {
    animation: test 2s linear infinite;
}



.words {
    position: relative;
    animation: move-words 200ms alternate infinite;
    margin: 0;
  }

  @keyframes move-words {
    0% {
         opacity: 1;
         transform: rotate(0);
         scale: 1;
    }

    100% {
        opacity: 1;
        transform: rotate(7deg);
        scale: 4;
    }
  }











/* navbar */

.navbar {
    background-color: #341830;
}

.my-navbar-brand {
    color: #edcfac;
    font-family: 'Yeseva One', serif; 
}

.my-navbar-brand:hover {
    color: #e9d6c3;
    transition-duration: 250ms;
}



.my-navbar-brand:visited {
    color: #edcfac !important;
 
}
.my-navbar-brand:active {
    color: #e9d6c3 !important;
}



.navbar-toggler  {
    color: #c4ae94;
}

.navbar-toggler-icon {
    color: #c4ae94;
}





/* dropdown menu */


.my-dropdown-menu {
    background-color: #dbccb3;
    color: #341830 !important;
    transition: 2s;
}

.dropdown-item:hover {
    background-color: #e2d6c8 !important;
    color: #341830;
    transition-duration: 250ms;
}

.dropdown-item:visited, .dropdown-item:active {
    background-color: #e2d6c8 !important;
    color: #341830;
    transition-duration: 250ms;
}

@media (max-width: 992px) {

    .my-dropdown-menu {
        background-color: #341830;
        color: #c4ae94;
        border: 0;
    }

    .dropdown-item {
        color: #c4ae94 !important;
        border: 0;
        margin-top: -3px;
    }

}








/* navigation chevrons */

.fa-chevron-right {
    color: #aa736e;
    text-shadow: 0 0 1px #aa736e;
    margin-top: 15.625rem;
}

.fa-chevron-left {
    color: #aa736e;
    text-shadow: 0 0 1px #aa736e;
    margin-top: 15.625rem;
}


.fa-chevron-right:hover {
    color: #c99792;
    transition-duration: 250ms;
}

.fa-chevron-left:hover {
    color: #c99792;
    transition-duration: 250ms;
}



@media (max-width: 438px) {

    .fa-chevron-right {
        margin-top: 10.625rem;
    }
    
    .fa-chevron-left {
        margin-top: 10.625rem;
    }

}










/* button */

.btn-primary {
    background-color: #702b37;
    color: #d7cdbc;
    font-family: 'Yeseva One', serif; 
    border: 0
}


.btn-primary:hover {
    background-color: #7d313e !important;
    color: #f2ece0;
}

.btn-primary:active {
    background-color: #7d313e !important;
    color: #f2ece0 !important;
}





/* pagination */

.my-pagination {
    background-color: #56401a1f;
    color: #341830;
    font-family: 'Open Sans', sans-serif;
    border: 0;
}

.my-pagination:hover, .my-pagination:visited, .my-pagination:active, .my-pagination:focus  {
    background-color: #332a194e !important;
    color: #341830;
    font-family: 'Open Sans', sans-serif;
}





/* my projects */


.my-projects {
    transition: all 250ms;
}

.my-projects:hover {
    opacity: 95%;
    transition-duration: 400ms;
    transform: scale(0.99);
}


.custom-img {
    width: 100%;
    height: auto;
}





/* index elements */



/* navbar */
.my-svg-item-1 {
    position: fixed;
    width: 100%;
    top: -3.7%;

    scale: 1.5;
    
}

/* nothing up */
.my-svg-item-2 {
    position: fixed;

    bottom: -18%;
    left: -5%;
    width: 120%;
}

/* Tommy Roy */
.my-svg-item-3 {
    position: fixed;


    left: 18%;
    top: 14%;

}

/* Voir plus button */
.my-svg-item-4 {
    position: fixed;


    right: 27%;
    bottom: 40%;

}

.my-svg-item-4 a {
    text-decoration: none; color: #d7cdbc;
}


/* paint tube */
.my-svg-item-5 {
    position: fixed;

   
    scale: 1.4;
    bottom: -12%; 
    width: 90%;

}




/* pinceau up */
.my-svg-item-6 {
    position: fixed;
    width: 100%;
    scale: 1.3;
    bottom: -2%;
    right: -8%;

}

/* header text */
.my-svg-item-7 {
    position: fixed;

    right: 25%;
    bottom: 53%;
    width: 500px;

}

/* palette */
.my-svg-item-8 {
    position: fixed;

    scale: 1.2 !important;
    bottom: -30%;
    left: -12% !important;  

        width: 100%;
}

/* Tommy Roy sur une ligne  */
.my-svg-item-9 {
    position: fixed;
    
    top: 22%;
    left: 12%;
}








.my-chevron-animation {
    animation: chevron 1s ease-in-out infinite alternate;
}

@keyframes chevron {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}


.my-text-appearing {
    animation: text 0.5s ease-in;
 
}

@keyframes text {
    from {
        opacity: 0;
        transform: scale(1.05);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


/* footer {
    overflow: hidden;
} */




@media (max-width: 768px) {
    footer img {
        scale: 1.3;
    }


}






/* background svg media queries */


@media (max-width: 2055px) {
    .my-svg-item-5 {
        bottom: -10%;
    }

    .my-svg-item-2 {
        bottom: -12%;
    }

    .my-svg-item-6 {
        bottom: 4% !important;

        left: 2%;
        width: 120%;
    }

    .my-svg-item-8 {
        left: 4%;
        scale: 1.2;
        bottom: -35%;
    }


}

@media (max-width: 1650px) {
    .my-svg-item-5 {
        bottom: -8%;
        scale: 1.5;
        left: 12%;
    }

    .my-svg-item-8 {
        left: -27% !important;
        scale: 1.2;
        bottom: -40%;
    }
}

@media (max-width: 1500px) {
    .my-svg-item-5 {
        bottom: -5%;
        scale: 1.7;
        left: 10%;
    }

    .my-svg-item-2 {
        bottom: -8%;
    }

    .my-svg-item-8 {
       display: none;
    }

}

@media (max-width: 1100px) {
    .my-svg-item-5 {
        bottom: -3%;
        scale: 2.1;
        left: 23%;
    }

    .my-svg-item-2 {
        bottom: -3%;
    }

    .my-svg-item-6 {
        left: -4%;
    }

    .my-svg-item-8 {
        left: -28% !important;
        bottom: -20%;
    }
}

@media (max-width: 880px) {
    .my-svg-item-5, .my-svg-item-2, .my-svg-item-6 {
        display: none;
    }
    .my-svg-item-8 {
        scale: 12;
        left: -25%;
        bottom: -80%;
    }

    .my-chevron-123 {
        bottom: 4% !important;
        font-size: 50px !important;
    }

}



/* text media query */

@media (max-width: 2262px) {
    
    .my-svg-item-7 {
        right: 20%
    }

    .my-svg-item-4 {
        right: 20%
    }

}



@media (max-width: 1993px) {
    
    .my-svg-item-7 {
        bottom: 40%;
    }

    .my-svg-item-4 {
        bottom: 30%;
    }
}



@media (max-width: 1520px) {
    
    .my-svg-item-7 {
        right: 15%;
    }

}


@media (max-width: 1400px) {
    
    
    .my-svg-item-3 .my-h2 {
        display: none;
    }



}

@media (max-width: 880px) {
    .my-svg-item-9 .my-h2 {
        font-size: 7rem !important; 
     
    }

    .my-svg-item-9 {
        top: 15%;
        left: 8% !important;
        margin-right: 160px;
    }

    .my-svg-item-4 {
        bottom: 20%;
    }

    .my-svg-item-7 {
        bottom: 32%;
        left: 12%;
    }
}


@media (max-width: 575px) {
    .my-svg-item-7 div {
        font-size: 1.8rem !important;
    }
}

@media (max-width: 517px) {
    .my-svg-item-7 div {
        font-size: 1.4rem !important; 
 
    }
}






@media (max-width: 992px) {
    .my-button-index {
        scale: 1.1 !important;
    }
}







/* form style  */


input[type=text]:focus{
    outline: 3px solid #34183025;
}

input[type=email]:focus{
    outline: 3px solid #34183025;
}


textarea:focus{
    outline: 3px solid #34183025 !important;
}






@media (min-width: 992px) {
    .my-contact-text {
        font-size: 1.25rem;
    }

  


}


@media (max-width: 992px) {
    .my-contact-text {
        font-size: 1.1rem;
    }

    .my-contact-carousel {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 24px;
    }



}

@media (max-width: 576px) {
    .my-contact-text {
        font-size: 1rem;
    }
}


@media (max-width: 576px) {
    .my-big-name {
        font-size: 4.75rem !important;
    }

}

@media (max-width: 345px) {
    .my-big-name {
        font-size: 4rem !important;
    }

}

@media (max-width: 297px) {
    .my-big-name {
        font-size: 3.5rem !important;
    }

}





/* card-columns  */

@media screen and (min-width: 925px) {
    .card-columns {
        column-count: 2;
    }
}


