
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}



@media (min-width: 768px) and (max-width: 991.98px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop: ≥992px */
@media (min-width: 992px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}


.gallery-item {
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    opacity: 90%;
    transition-duration: 400ms;
    transform: scale(0.99);
}

.card-columns {
    column-count: 1;
    column-gap: 1.25rem;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* card-columns  */

@media screen and (min-width: 925px) {
    .card-columns {
        column-count: 3;
    }
}

.filter-buttons {
    margin-bottom: 2rem;
}

.filter-buttons button {
    background: #eee;
    border: 2px #341830;
    padding: 0.5rem 1rem;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-buttons button:hover,
.filter-buttons button.active {
    background: #341830;
    color: white;
}




/* status dot */

.status-dot {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 2;
}

.dot-green {
    background-color: #28a745;
}

.dot-red {
    background-color: #dc3545;
}



/* Toggle Switch Stylé */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked+.slider {
    background-color: #341830;
}

input:checked+.slider:before {
    transform: translateX(26px);
}



.gallery-hover-wrapper {
    position: relative;
}

.gallery-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(52, 24, 48, 0.8);
    /* Semi-transparent dark overlay */
    color: white;
    padding: 5px 10px;
    font-size: 0.9rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.gallery-hover-wrapper:hover .gallery-overlay {
    opacity: 1;
}

.overlay-text {
    display: block;
}


@media (max-width: 768px) {
    .container-index {
        padding: 1rem;
    }

    .slide-in-left {
        max-width: 8rem !important;
    }

    .my-chevron-123 {
        margin-top: 1rem !important;
        font-size: 1.5rem !important;
    }

    .button2 {
        font-size: 1.1rem;
    }
}